#ROBUST_DB_TYPE=
#ROBUST_DB_HOST=
#ROBUST_DB_NAME=
#ROBUST_DB_USER=
#ROBUST_DB_PASS=
#OPENSIM_DB_TYPE=
#OPENSIM_DB_HOST=
#OPENSIM_DB_NAME=
#OPENSIM_DB_USER=
#OPENSIM_DB_PASS=
SEARCH_DB_TYPE=
SEARCH_DB_HOST=
SEARCH_DB_NAME=
SEARCH_DB_USER=
SEARCH_DB_PASS=
SEARCH_REGION_TABLE=
SEARCH_TABLE_EVENTS=
#CURRENCY_DB_HOST=
#CURRENCY_DB_NAME=
#CURRENCY_DB_USER=
#CURRENCY_DB_PASS=
#OFFLINE_DB_HOST=
#OFFLINE_DB_NAME=
#OFFLINE_DB_USER=
#OFFLINE_DB_PASS=
#MUTE_DB_HOST=
#MUTE_DB_NAME=
#MUTE_DB_USER=
#MUTE_DB_PASS=
