*~
#*#
.DS_Store
data/*
!data/.keep
config/*.cfg
config/*.txt
config/*.csv
node_modules/
vendor/
test/
/bundle/
src/bundle/standalone/css/*.min.css
src/bundle/standalone/js/*.min.js
composer.lock
cache/*
config/targets
tmp/
logs/
.env
/public/standalone/
