:root {
    --main-color: black;
    --main-background: white;
    --border-color: #bbb;
    --link-color: #888;
    --highlight-color: #666;
    --highlight-background: #ddd;
    --today-color: green;
    --today-background: lightgreen;
    --today-background-usertz: #dfd;
    --gap: 10px;
}

body {
	padding: 0;
	margin: 0;
    color: var(--main-color);
    background: var(--main-background);
}

a,a:hover, a:active, a:visited {
	color: var(--link-color);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#page-wrapper {
	position: absolute;
	min-height: 100%;
	width: 100%;
}
 
header > * {
	margin: 0;
	padding: 0;
}
#main {
	padding: 20px;
	margin: auto 0;
	max-width: calc(100% - 40px);
}
.wrapper {
	margin: 0;
	padding: 0;
}
#main .wrapper > * {
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
}
#main #events,
#main .wrapper > #events-container {
    width: 100%;
}
.wrapper > * > :first-child {
	margin-top: 0;
}
.wrapper > :first-child {
	margin-top: 0;
}
.wrapper > :last-child {
	margin-bottom: 0;
}

body {
    font-family: Arial, sans-serif;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

header a {
    text-decoration: none;
    color: inherit;
}

header {
	position: sticky;
	top: 0;
	background: var(--main-background);
    padding: 20px;
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
	"branding secondary"
	"main main";
}

header.sticky {
	display: flex;
	gap: 20px;
	background: var(--main-background);
	z-index: 1;
}

header img.logo {
    max-height: 1.5em;
}
header.sticky img.logo {
    max-height: 1.0em;
}

#branding {
	grid-area: branding;
}
#nav-main {
	flex: 1;
	grid-area: main;
}
#nav-secondary {
	grid-area: secondary;
	text-align: right;
}

header h1, #sitetitle {
	margin: 0;
}
#main h1, #main #pagetitle {
	font-size: 2em;
	margin: 1em 0;
}
h2 {
	font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: center;
    gap: var(--gap);
	margin: 0;
}
nav > ul > li {
	margin: auto 0;
}

header:not(.sticky) nav ul,
header.sticky {
    padding: var(--gap);
    margin: 0;
    color: var(--highlight-color);
    background-color: var(--highlight-background);
    border: 1px solid var(--border-color);
    border-radius: 5px;
}
header.sticky {
    border-radius: 0;
}

header.sticky nav ul {
	padding: 0;
}
nav #subscribe-links {
	text-align: right;
}

#sltime-wrapper #sltime {
    font-size: 1em;
    font-family: "Courier New", Courier, monospace;
    font-family: "Menlo", "Consolas", "Liberation Mono", "DejaVu Sans Mono",  "Monaco", monospace, monospace;
}

#sltime-wrapper .label {
    font-size: smaller;
    opacity: 0.7;
}

footer {
    font-size: smaller;

    padding: var(--gap);
    text-align: center;
}

span.duration {
    font-size: small;
    opacity: 0.7;
}

.day {
	border: solid 1px var(--border-color);
	border-radius: 5px;
	
    display: flex;
    flex-direction: column;
}
.day :first-child {
	margin-top: 0;
}
.day > * {
	padding-inline: var(--gap);
}
.day > h3 {
	border-radius: 5px 5px 0 0;
	color: var(--highlight-color);
	background: var(--highlight-background);
	padding-block: 5px;
	margin: 0;
}
.day > h3::first-letter {
    text-transform: uppercase;
}

.day.today > h3 {
	color: var(--today-color);
	background: var(--today-background);
}

.event {
    /*min-width: 10em;*/
    overflow-wrap: break-word;
    word-break: break-word;
    
    display: grid;
    gap: var(--gap);
    padding-top: var(--gap);
    grid-template-columns: auto 3fr; /* Ajustez ces valeurs selon vos besoins */
    grid-template-areas: 
        "time title"
        "time description"
        "time teleport"
        "tags tags";
}

.event.today-user {
	background: var(--today-background-usertz);
}
.event:not(:first-child) {
	border-top: solid 1px var(--border-color);
}

.event > * {
	margin: 0;
	display: block;
}
.event .time {
	font-size: 0.9em;
    grid-area: time;
}
.event .time span {
	display: grid;
}
.event .title {
    grid-area: title;
}

.event .description {
	font-size: 0.9em;
    grid-area: description;
}

.event .teleport {
    grid-area: teleport;
}

.event .teleport .tplinks {
	float: right;
	margin: 0.25em 0 0 0.25em;
}

.event .teleport .tplink {
	
	background: var(--highlight-background);
	padding: 4px;
	border-radius: 5px;
	font-size: smaller;
}

.event .tags {
    grid-area: tags;
    padding-block-end: 5px;
}

.disclaimer {
    font-size: smaller;
    opacity: 0.7;
    padding: var(--gap);
    margin: auto;
    max-width: 60em;
}

.list-check {
    list-style-type: none;
}

.list-check > [type=checkbox], 
.list-check > [type=radio] {
    margin: 0 0.2 0 -1.4em;
    vertical-align: middle;
}

section {
    display: none;
}

#events {
    display: block;
}

nav li.section {
    cursor: pointer;
}

@media (min-width: 640px) {
    .week {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--gap);
        margin: var(--gap) 0;
    }

    .day {
    	min-width: 12em;
        flex: 1 0 10em;
        min-width: 12em;
        flex-basis: min-content;
    }
	nav ul {
		flex-direction: row;
	}
}
@media (min-width: 800px) {
    
	#page-wrapper {
		display: grid;
		grid-template-rows: auto 1fr auto;
	}

	#sltime-wrapper {
	    display: flex;
	    flex-direction: column;
	    justify-content: end;
	    align-items: end;
	}

}

@media (prefers-color-scheme: dark) { 
    :root {
        --main-color: #bbb;
        --main-background: #111;
        --border-color: #444;
	    --link-color: #777;
	    --highlight-color: #ccc;
        --highlight-background: #333;
        --today-color: #0c0;
        --today-background: darkgreen;
	    --today-background-usertz: #131;
    }
} 
